.texto {
    background-color: rgb(117, 56, 56);
    height: 50px;
    width: 100%;
    font-family: 'Schoolbell', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.franja {
    background-color: rgb(232, 232, 15);
    height: 10px;
    width: 100%;
}

.caja {
    background-color: chocolate;
    border-top: 10px beige;
    font-family: 'Schoolbell', cursive;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.container {
    display: grid;
    grid-template-columns: 1fr minmax(0, 4fr) 1fr;
    grid-template-rows: auto;
    height: auto;
}

.right {
    background-color: #a34747;
    height: auto;
    width: auto;
}

.left {
    background-color: #a34747;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin: 0%;
    background-color: rgb(251, 183, 183);
}

.item {
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 10px;
}

img {
    border-radius: 30px;
    max-width: 100%;
    height: 100%;
}

.listaordenada {
    font-size: 20px;
    color: antiquewhite;
    font-family: 'Schoolbell', cursive;
}

.item p {
    margin: 0;
    color: #090909;
    padding: 5px;
    font-size: 14px;
}

body {
    background-color: rgb(251, 183, 183);
}

.final {
    width: 100%;
    height: 50px;
    background-color: #a34747;
    display: flex;
    /* Agregar scroll  margin-top: 130px;*/
    flex-direction: column;
    align-items: center;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ab {
    text-align: center;
}